<%
  chart_id ||= false
  chart_label ||= "data"
  table_id ||= false
  table_direction ||= "horizontal"
  rows ||= []
  keys ||= []
  Chartkick.options[:html] = '<div id="%{id}"><noscript><p>Our charts are built using javascript but all the data is also available in the table.</p></noscript></div>'
  # config options are here: https://developers.google.com/chart/interactive/docs/gallery/linechart
  chart_library_options = {
    legend: 'none',
    chartArea: { width: '90%', height: '80%' },
    curveType: 'none',
    tooltip: { textStyle: { color: '#000' }, showColorCode: true },
    crosshair: { orientation: 'vertical', trigger: 'both', color: '#ccc' },
    hAxis: {
      textStyle: { color: '#000', fontName: 'nta', fontSize: '12' }
    },
    vAxis: {
      format: '#,###,###.###',
      textStyle: { color: '#000', fontName: 'nta', fontSize: '12' }
    },
    pointSize: 0,
    series: {
      0 => { lineWidth: 2, color: '#912B88' },
      1 => { lineWidth: 2, lineDashStyle: [10, 2], color: '#454a4c' }
    }
  }
  if rows.length > 0 && keys.length > 0
    chart_format_data = rows.map do |row|
      {
        name: row[:label],
        linewidth: 10,
        data: keys.zip(row[:values])
      }
    end
  end
%>
<% if rows.length > 0 && keys.length > 0 && chart_id && table_id %>
  <div class="app-c-chart">
    <div class="app-c-chart__chart" id="<%= chart_id %>">
      <%= render "govuk_publishing_components/components/govspeak" do %>
        <div class="app-c-chart__accessibility-message">
          The chart is a visual representation of the data available
          in the <a href="#<%= table_id %>">table</a>.
        </div>
      <% end %>
      <%= line_chart(chart_format_data, library: chart_library_options) %>
    </div>
    <div class="app-c-chart__table" id="<%= table_id %>">
      <%= render(
        "govuk_publishing_components/components/details",
        title: t(".table_dropdown", metric_name: chart_label)
      ) do %>
        <div tabindex="0" class="app-c-chart__table-wrapper">
          <table class="govuk-table">
            <% if table_direction == "vertical" %>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"></td>
                  <% keys.each do |d| %>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                      <%= d %>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <% rows.each do |r| %>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><%= r[:label]  %></th>
                    <% r[:values].each do |v| %>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <%= number_with_delimiter v %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            <% else %>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"></td>
                  <% rows.each do |r| %>
                    <th class="govuk-table__header govuk-table__header--stacked govuk-table__header--numeric" scope="row">
                      <%= r[:label] %>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <% keys.each_with_index do |k, i| %>
                  <tr>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="row">
                      <%= k %>
                    </th>
                    <% rows.each do |r| %>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <%= number_with_delimiter r[:values][i] %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
