<%
  name ||= false
  figure ||= false
  period ||= false
  about ||= false
  trend_percentage ||= false
  context ||= false
  short_context ||= false
  about_label ||= "About this data"
%>
<% if name && figure && context %>
  <div class="app-c-info-metric govuk-body">
    <h3 class="app-c-info-metric__heading"><%= name %></h3>
    <p class="app-c-info-metric__context govuk-body-s"><%= context %></p>
    <% if about %>
      <div class="app-c-info-metric__about govuk-body-s">
        <%= render "govuk_publishing_components/components/details", {
          title: about_label
        } do %>
          <p class="govuk-body govuk-body-s"><%= raw about %></p>
          <% if data_source %>
            <p class="govuk-body govuk-body-s"><%=t("components.info-metric.data_source", source: data_source)%></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <span class="app-c-info-metric__figure govuk-!-font-weight-bold govuk-!-font-size-36 "><%= figure %></span>
    <% if short_context %>
      <span class="app-c-info-metric__short-context">
        (<%= short_context %>)
      </span>
    <% end %>
    <% if trend_percentage %>
      <span class="app-c-info-metric__trend">
        <% if trend_percentage > 0 %>+<% end %><%= '%.2f' % trend_percentage %>%
      </span>
      <% if trend_percentage > 0 %>
        <span class="app-c-info-metric__trend--up">
          <span aria-hidden="true" class="app-c-info-metric__trend-icon">&#9650;</span>
          <span class="app-c-info-metric__trend-text">Upward trend</span>
        <span>
      <% elsif trend_percentage < 0 %>
        <span class="app-c-info-metric__trend--down">
          <span aria-hidden="true" class="app-c-info-metric__trend-icon">&#9660;</span>
          <span class="app-c-info-metric__trend-text">Downward trend</span>
        <span>
      <% else %>
        <span class="app-c-info-metric__trend--no-change">
          <span aria-hidden="true" class="app-c-info-metric__trend-icon">&#9679;</span>
          <span class="app-c-info-metric__trend-text">No change</span>
        <span>
      <% end %>
    <% end %>
    <% if period && trend_percentage %>
      <span class="app-c-info-metric__period"><%= period %></span>
    <% end %>
  </div>
<% end %>
