<%
    publishing_organisation ||= nil
    document_type ||= nil
    base_path ||= nil
    status ||= nil
%>

<table class="app-c-metadata govuk-body govuk-body-xs app-c-metadata__list">

  <% if status %>
    <tr>
        <th scope="row" class="app-c-metadata__title"><%= t ".labels.status" %></th>
        <td class="app-c-metadata__description govuk-!-font-weight-bold"><%= status %></td>
    </tr>
  <% end %>
  <% if publishing_organisation %>
    <tr>
      <th scope="row" class="app-c-metadata__title"><%= t ".labels.publishing_organisation" %></th>
      <td class="app-c-metadata__description"><%= publishing_organisation %></td>
    </tr>
  <% end %>

    <tr>
      <th scope="row" class="app-c-metadata__title"><%= t ".labels.document_type" %></th>
      <td class="app-c-metadata__description"><%= document_type %></td>
    </tr>
    <tr>
      <th scope="row" class="app-c-metadata__title app-c-metadata__title--wrappable"><%= t ".labels.base_path" %></th>
      <td class="app-c-metadata__description">gov.uk<%= base_path %></td>
    </tr>

</table>
