<%
    published_at ||= nil
    last_updated ||= nil
    publishing_organisation ||= nil
    document_type ||= nil
    base_path ||= nil
    status ||= nil
%>

<div class="app-c-metadata govuk-body govuk-body-xs">
  <% if status %>
    <dl class="app-c-metadata__list">
      <dt class="app-c-metadata__title"><%= t ".labels.status" %></dt>
      <dd class="app-c-metadata__description govuk-!-font-weight-bold"><%= status %></dd>
    </dl>
  <% end %>
  <dl class="app-c-metadata__list">
    <% if publishing_organisation %>
      <dt class="app-c-metadata__title"><%= t ".labels.publishing_organisation" %></dt>
      <dd class="app-c-metadata__description"><%= publishing_organisation %></dd>
    <% end %>
    <dt class="app-c-metadata__title"><%= t ".labels.document_type" %></dt>
    <dd class="app-c-metadata__description"><%= document_type %></dd>
    <dt class="app-c-metadata__title app-c-metadata__title--wrappable"><%= t ".labels.base_path" %></dt>
    <dd class="app-c-metadata__description">gov.uk<%= base_path %></dd>
  </dl>
</div>
