<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds content-metrics" data-gtm-id="content-metrics">
    <h3 class="section-content__header content-metrics__header govuk-heading-m">
      <%= local_assigns[:title] %>
    </h3>
    <p><a href="<%= local_assigns[:accessibility_issues].link %>">See accessibility issues</a></p>
        <% local_assigns[:accessibility_issues].issue_list.each do |issue| %>
          <p>
            <%= issue.help.title%>
          </p>

          <%= render "govuk_publishing_components/components/details", {
            title: "More detail"
          } do %>
            <%= raw(issue.help.description) %>
          <% end %>

        <% end%>

  </div>
</div>


