

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds content-metrics" data-gtm-id="content-metrics">
    <h2 class="section-content__header content-metrics__header">
      <%= t "metrics.show.section_headings.content" %>
    </h2>

    <dl class="govuk-summary-list govuk-summary-list--small content-metrics__data">
      <% ['reading_time', 'total_words', 'total_pdf_count'].each do |metric| %>
        <div class="govuk-summary-list__row content-metric__<%= metric.gsub('_', '-') %>">
        <dt class="govuk-summary-list__key" data-gtm-id="metric-section-heading">
          <%= t "metrics.#{metric}.title" %>
        </dt>
        <dd class="govuk-summary-list__value govuk-summary-list__value--right-align">
          <%= @performance_data.send(metric) %>
        </dd>
      </div>
      <% end %>

    </dl>
    <%= render "govuk_publishing_components/components/details", {
      title: t("metrics.page_content.about_title")
    } do %>
      <% ['reading_time', 'total_words', 'total_pdf_count'].each do |metric| %>
        <h3 class="govuk-heading-s"><%= @performance_data.metric_about_label(metric) %></h3>
        <p class="govuk-body govuk-body-s"><%= raw t("metrics.#{metric}.about") %></p>
      <% end %>

    <% end %>
  </div>
</div>
