<div class="metric-summary__<%= metric_name %>">
  <%= render 'metric_header', {
    metric_name: metric_name,
    value: total,
    show_trend: false,
    short_context: short_context,
    custom_month_selected: custom_month_selected
  }%>
</div>

<% if total %>
  <%= render 'chart', series: @performance_data.chart_for_metric(metric_name) %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <% if external_link %>
      <a href="<%= external_link %>" class="govuk-link govuk-body-s" target="_blank"><%= t "metrics.#{metric_name}.external_link" %></a>
    <% end %>
  </div>
</div>
