
<h2 class="section-content__header content-metrics__header"><%= t("metrics.siteimprove.title") %></h2>
<% if @policy_issues.issue_list.count > 0 %>
  <p><a href="<%= @policy_issues.link %>"><%= t("metrics.siteimprove.policy_report_link") %></a></p>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"><%= t("metrics.siteimprove.policy.title") %></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= t("metrics.siteimprove.policy.priority") %></th>
        <th scope="col" class="govuk-table__header"><%= t("metrics.siteimprove.policy.issue") %></th>
        <th scope="col" class="govuk-table__header"><%= t("metrics.siteimprove.policy.full_desc") %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @policy_issues.issue_list.each do |issue| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= issue[:policy_priority] %></td>
        <td class="govuk-table__cell"><a href=<%= issue[:policy_direct_link] %>><%= issue[:policy_short_description] %></a></td>
        <td class="govuk-table__cell"><%= raw(issue[:policy_description]) %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
<% end %>

<% if @quality_assurance_issues.issue_list[:misspellings].count > 0 || @quality_assurance_issues.issue_list[:broken_links].count > 0 %>
  <h3 class="section-content__header content-metrics__header"><%= t("metrics.siteimprove.content_quality.title") %></h3>
  <p><a href="<%= @quality_assurance_issues.link %>"><%= t("metrics.siteimprove.quality_assurance_report_link") %></a></p>
  <% if @quality_assurance_issues.issue_list[:misspellings].present? %>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"><%= t("metrics.siteimprove.quality_assurance.misspellings.title") %></caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= t("metrics.siteimprove.quality_assurance.misspellings.word") %></th>
        <th scope="col" class="govuk-table__header"><%= t("metrics.siteimprove.quality_assurance.misspellings.suggestions") %></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @quality_assurance_issues.issue_list[:misspellings].each do |spelling| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href=<%= spelling[:quality_assurance_direct_link] %>><%= spelling[:word] %></a></td>
            <td class="govuk-table__cell"><%= spelling[:suggestions] %> </td>
          </tr>
        <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>

  <% if @quality_assurance_issues.issue_list[:broken_links].present? %>
    <table class="govuk-table content-metrics__url-table">
      <caption class="govuk-table__caption govuk-table__caption--m"><%= t("metrics.siteimprove.quality_assurance.broken_links.title") %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><%= t("metrics.siteimprove.quality_assurance.broken_links.url") %></th>
          <th scope="col" class="govuk-table__header"><%= t("metrics.siteimprove.quality_assurance.broken_links.error_message") %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @quality_assurance_issues.issue_list[:broken_links].each do |link| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell content-metrics__url-cell"><a href=<%= link[:url] %>><%= link[:url] %></a></td>
            <td class="govuk-table__cell"><a href=<%= link[:quality_assurance_direct_link] %>><%= link[:message] %></a></td>
          </tr>
        <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>


<%# if @confirmed_accessibility_issues.issue_list.count > 0 %>
  <%#= render "accessibility_issues", accessibility_issues: @confirmed_accessibility_issues, title: t("metrics.siteimprove.accessibility_confirmed.title"), show_link:true %>
<%# end %>
<%# if @potential_accessibility_issues.issue_list.count > 0 %>
  <%#= render "accessibility_issues", accessibility_issues: @potential_accessibility_issues, title: t("metrics.siteimprove.accessibility_potential.title") %>
<%# end %>

