<% content_for :title, t('.browser_title', content_title: @performance_data.title) %>
<% content_for :back_link, "/" %>
<% current_selection = @performance_data.date_range.time_period || 'last-30-days' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl"><%= t ".page_kicker" %></span>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @performance_data.title %></h1>
    <div class="page-metadata">
      <%= render "components/metadata", @performance_data.metadata %>
    </div>
  </div>
  <div class="govuk-grid-column-one-third related-actions">
    <%= render "components/related-actions",
      {
        links: [
                  {
                    header: t(".navigation.visit_page"),
                    link_url: "//www.gov.uk#{@performance_data.metadata[:base_path]}",
                    accessibility_message: t('.navigation.accessibility_message'),
                    label: @performance_data.title
                  },
                  {
                    header: "Make changes to the page",
                    link_url: "#",
                    label: t('.navigation.edit_link', publisher_app: @performance_data.publishing_app)
                  }
                ]
      } %>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<%= render "components/time-select", {
  base_path: "/metrics#{@performance_data.metadata[:base_path]}",
  current_selection: current_selection,
  dates: [
    {
      value: "last-30-days",
      text: t(".time_periods.last-30-days.leading"),
      hint_text:  "#{30.days.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-month",
      text: t(".time_periods.last-month.leading"),
      hint_text: "#{Date.today.last_month.beginning_of_month.strftime("%-d %B %Y")} to #{Date.today.last_month.end_of_month.strftime("%-d %B %Y")}"
    },
    {
      value: "last-3-months",
      text: t(".time_periods.last-3-months.leading"),
      hint_text: "#{3.months.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-6-months",
      text: t(".time_periods.last-6-months.leading"),
      hint_text: "#{6.months.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-year",
      text: t(".time_periods.last-year.leading"),
      hint_text: "#{1.year.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-2-years",
      text: t(".time_periods.last-2-years.leading"),
      hint_text: "#{2.years.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    }
  ]
} %>

<div class="govuk-grid-row">
  <%= render "glance_metric", metric_name: "upviews" %>
  <%= render "glance_metric", metric_name: "satisfaction" %>
  <%= render "glance_metric", metric_name: "searches" %>
  <%= render "glance_metric", metric_name: "feedex" %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l"><%= t ".section_headings.performance" %></h2>

      <%= render 'metric_section', metric_name: 'upviews', show_trend: true, show_total: false %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <%= render 'metric_section', metric_name: 'pviews', show_trend: true, show_total: false %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <%= render 'metric_section', metric_name: 'searches', show_trend: true, show_total: false %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l"><%= t ".section_headings.feedback" %></h2>

      <%= render 'metric_section', metric_name: 'satisfaction', show_trend: true, show_total: true %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <%= render 'metric_section', metric_name: 'feedex', show_trend: true, show_total: false %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l"><%= t ".section_headings.content" %></h2>

    </div>

    <div class="govuk-grid-column-one-half">
      <div class="metric_summary words">
        <%= render 'metric_header', metric_name: 'words', value: @performance_data.metrics['words'][:value], show_trend: false %>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="metric_summary pdf_count">
        <%= render 'metric_header', metric_name: 'pdf_count', value: @performance_data.metrics['pdf_count'][:value], show_trend: false %>
      </div>
    </div>
</div>
