<% content_for :title, "Page Data: #{@summary.title}" %>
<% content_for :back_link, "/" %>
<% current_selection = @summary.date_range.time_period || 'last-30-days' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Page data</span>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @summary.title %></h1>
    <div class="page-metadata">
      <%= render "components/metadata", @summary.metadata %>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "components/related-actions",
      {
        links: [
                  {
                    header: "View the page on GOV.UK",
                    link_url: "//www.gov.uk#{@summary.metadata[:base_path]}",
                    link_text: "Visit #{@summary.title}"
                  },
                  {
                    header: "Make changes to the page",
                    link_url: "//www.gov.uk/???",
                    link_text: "Visit ???"
                  }
                ]
      } %>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<%= render "components/time-select", {
  base_path: "/metrics#{@summary.metadata[:base_path]}",
  current_selection: current_selection,
  dates: [
    {
      value: "last-30-days",
      text: "Past 30 Days",
      hint_text:  "#{30.days.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-month",
      text: "Last month",
      hint_text: "#{Date.today.last_month.beginning_of_month.strftime("%-d %B %Y")} to #{Date.today.last_month.end_of_month.strftime("%-d %B %Y")}"
    },
    {
      value: "last-3-months",
      text: "Past 3 months",
      hint_text: "#{3.months.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-6-months",
      text: "Past 6 months",
      hint_text: "#{6.months.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-1-year",
      text: "Past year",
      hint_text: "#{1.year.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-2-years",
      text: "Past 2 years",
      hint_text: "#{2.years.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    }
  ]
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: "Unique pageviews",
      figure: @summary.unique_pageviews,
      context: "Lorem ipsum blah blah blah",
      trend_percentage: 0,
      period: "from previous 30 days"
    } %>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: "User satisfaction score",
      figure: @summary.satisfaction_score,
      context: "Lorem ipsum blah blah blah",
      trend_percentage: 0,
      period: "from previous 30 days"
    } %>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: "Searches from the page",
      figure: @summary.number_of_internal_searches,
      context: "Lorem ipsum blah blah blah",
      trend_percentage: 0,
      period: "from previous 30 days"
    } %>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: "Feedback comments",
      figure: @summary.number_of_feedback_comments,
      context: "Lorem ipsum blah blah blah",
      trend_percentage: 0,
      period: "from previous 30 days"
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Performance</h2>
    <div class="metric_summary unique_pageviews">
      <%= render 'metric_header', title: 'Unique Pageviews', value: @summary.unique_pageviews %>
    </div>
    <%= render 'chart', series: @summary.unique_pageviews_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold">Download the data</span><br>
    <a href="" class="govuk-link">Unique pageviews CSV</a>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="metric_summary pageviews">
      <%= render 'metric_header', title: 'Pageviews', value: @summary.pageviews %>
    </div>
    <%= render 'chart', series: @summary.pageviews_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold">Download the data</span><br>
    <a href="" class="govuk-link">Pageviews CSV</a>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="metric_summary number_of_internal_searches">
      <%= render 'metric_header', title: 'Searches from the page', value: @summary.number_of_internal_searches %>
    </div>
    <%= render 'chart', series: @summary.number_of_internal_searches_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold">Download the data</span><br>
    <a href="" class="govuk-link">Searches from the page CSV</a>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Feedback</h2>
    <div class="metric_summary satisfaction_score">
      <%= render 'metric_header', title: 'User satisfaction score', value: @summary.satisfaction_score %>
    </div>
    <%= render 'chart', series: @summary.satisfaction_score_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold">Download the data</span><br>
    <a href="" class="govuk-link">Satisfaction score CSV</a>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="metric_summary number_of_feedback_comments">
    <%= render 'metric_header', title: 'Number of feedback comments', value: @summary.number_of_feedback_comments %>
    </div>
    <%= render 'chart', series: @summary.number_of_feedback_comments_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold">Download the data</span><br>
    <a href="" class="govuk-link">Feedback CSV</a>

  </div>
</div>






