<% content_for :title, t('.browser_title', content_title: @performance_data.title) %>
<% content_for :local_nav do %>
  <div class="local-nav govuk-grid-column-one-quarter">
    <a href="/content" class="local-nav__search-link govuk-link govuk-link--no-visited-state" data-gtm="back-link">Search</a>
  </div>
<% end %>
<% current_selection = @performance_data.date_range.time_period || 'past-30-days' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl"><%= t ".page_kicker" %></span>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @performance_data.title %></h1>
    <div class="page-metadata">
      <%= render "components/metadata",
          publishing_organisation: @performance_data.publishing_organisation,
          document_type: @performance_data.document_type.humanize,
          base_path: @performance_data.base_path,
          status: @performance_data.status
      %>
    </div>
  </div>
  <div class="govuk-grid-column-one-third related-actions">
    <%= render "components/related-actions",
      {
        links: [
          {
            header: t(".navigation.visit_page"),
            link_url: "//www.gov.uk#{@performance_data.base_path}",
            accessibility_message: t('.navigation.accessibility_message'),
            label: @performance_data.title
          },
          {
            header: t(".navigation.edit_page"),
            link_url: @performance_data.edit_url,
            label: @performance_data.edit_label
          }
        ]
      } %>
  </div>
</div>

<%= form_for("date", url: "/metrics#{@performance_data.base_path}", method: :get, html: { id: 'filter-form' }) do %>
  <%= render "components/time-select", {
    render_button: true,
    current_selection: current_selection,
    dates: [
      {
        value: "past-30-days",
        text: t(".time_periods.past-30-days.leading"),
        hint_text:  "#{30.days.ago.strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
      },
      {
        value: "last-month",
        text: t(".time_periods.last-month.leading"),
        hint_text: "#{Date.today.last_month.beginning_of_month.strftime("%-d %B %Y")} to #{Date.today.last_month.end_of_month.strftime("%-d %B %Y")}"
      },
      {
        value: "past-3-months",
        text: t(".time_periods.past-3-months.leading"),
        hint_text: "#{(3.months.ago).strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
      },
      {
        value: "past-6-months",
        text: t(".time_periods.past-6-months.leading"),
        hint_text: "#{(6.months.ago).strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
      },
      {
        value: "past-year",
        text: t(".time_periods.past-year.leading"),
        hint_text: "#{(1.year.ago).strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
      },
      {
        value: "past-2-years",
        text: t(".time_periods.past-2-years.leading"),
        hint_text: "#{(2.years.ago).strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
      }
    ]
  } %>
<% end %>

<div class="govuk-grid-row">
  <%= render "glance_metric",
      metric_name: "upviews",
      total: @performance_data.total_upviews,
      context: nil %>

  <%= render "glance_metric",
      metric_name: "satisfaction",
      total: @performance_data.total_satisfaction,
      context: @performance_data.satisfaction_context %>

  <%= render "glance_metric",
      metric_name: "searches",
      total: @performance_data.total_searches,
      context: @performance_data.searches_context %>

  <%= render "glance_metric",
      metric_name: "feedex",
      total: @performance_data.total_feedex,
      context: @performance_data.feedex_context %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full section-performance">
    <h2 class="section-performance__header"><%= t ".section_headings.performance" %></h2>

    <%= render 'metric_section',
        metric_name: 'upviews',
        total: @performance_data.total_upviews,
        short_context: nil,
        external_link: nil %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <%= render 'metric_section',
        metric_name: 'pviews',
        total: @performance_data.total_pviews,
        short_context: nil,
        external_link: nil %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="metric-summary__pageviews_per_visit">
      <%= render 'metric_header', {
        metric_name: 'pageviews_per_visit',
        value: @performance_data.pageviews_per_visit,
        show_trend: true,
        short_context: nil
      }%>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <%= render 'metric_section',
        metric_name: 'searches',
        total: @performance_data.total_searches,
        short_context: nil,
        external_link: nil %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l"><%= t ".section_headings.feedback" %></h2>

    <%= render 'metric_section',
        metric_name: 'feedex',
        total: @performance_data.total_feedex,
        short_context: nil ,
        external_link: @performance_data.feedback_explorer_href %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <%= render 'metric_section',
        metric_name: 'satisfaction',
        total: @performance_data.total_satisfaction,
        short_context: @performance_data.satisfaction_short_context,
        external_link: nil %>
  </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full section-content">
    <h2 class="section-content__header"><%= t ".section_headings.content" %></h2>
    <div class="govuk-grid-column-one-half metric-summary metric-summary__words">
      <%= render 'metric_header', metric_name: 'words', value: @performance_data.total_words, show_trend: false %>
    </div>
    <div class="govuk-grid-column-one-half metric-summary metric-summary__pdf-count">
      <%= render 'metric_header', metric_name: 'pdf_count', value: @performance_data.total_pdf_count, show_trend: false %>
    </div>
  </div>
</div>
