<% content_for :title, t('.browser_title', content_title: @performance_data.title) %>
<% content_for :back_link, "/" %>
<% current_selection = @performance_data.date_range.time_period || 'last-30-days' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl"><%= t ".page_kicker" %></span>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @performance_data.title %></h1>
    <div class="page-metadata">
      <%= render "components/metadata", @performance_data.metadata %>
    </div>
  </div>
  <div class="govuk-grid-column-one-third related-actions">
    <%= render "components/related-actions",
      {
        links: [
                  {
                    header: t(".navigation.visit_page"),
                    link_url: "//www.gov.uk#{@performance_data.metadata[:base_path]}",
                    link_text: t('.navigation.visit_link', content_title: @performance_data.title)
                  },
                  {
                    header: "Make changes to the page",
                    link_url: "#",
                    link_text: @performance_data.publishing_app
                  }
                ]
      } %>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<%= render "components/time-select", {
  base_path: "/metrics#{@performance_data.metadata[:base_path]}",
  current_selection: current_selection,
  dates: [
    {
      value: "last-30-days",
      text: t(".time_periods.last_30_days"),
      hint_text:  "#{30.days.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-month",
      text: t(".time_periods.last_month"),
      hint_text: "#{Date.today.last_month.beginning_of_month.strftime("%-d %B %Y")} to #{Date.today.last_month.end_of_month.strftime("%-d %B %Y")}"
    },
    {
      value: "last-3-months",
      text: t(".time_periods.last_3_months"),
      hint_text: "#{3.months.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-6-months",
      text: t(".time_periods.last_6_months"),
      hint_text: "#{6.months.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-1-year",
      text: t(".time_periods.last_year"),
      hint_text: "#{1.year.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-2-years",
      text: t(".time_periods.last_2_years"),
      hint_text: "#{2.years.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    }
  ]
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: t("metrics.unique_pageviews.title"),
      figure: @performance_data.unique_pageviews,
      context: t("metrics.unique_pageviews.context"),
      trend_percentage: 0,
      period: "from previous 30 days"
    } %>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: t("metrics.satisfaction_score.title"),
      figure: @performance_data.satisfaction_score,
      context: t("metrics.satisfaction_score.context"),
      trend_percentage: 0,
      period: "from previous 30 days"
    } %>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: t("metrics.internal_searches.title"),
      figure: @performance_data.number_of_internal_searches,
      context: t("metrics.internal_searches.context"),
      trend_percentage: 0,
      period: "from previous 30 days"
    } %>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: t("metrics.feedback_comments.title"),
      figure: @performance_data.number_of_feedback_comments,
      context: t("metrics.feedback_comments.context"),
      trend_percentage: 0,
      period: "from previous 30 days"
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l"><%= t ".section_headings.performance" %></h2>
    <div class="metric_summary unique_pageviews">
      <%= render 'metric_header', title: t("metrics.unique_pageviews.title"), value: @performance_data.unique_pageviews %>
    </div>
    <%= render 'chart', series: @performance_data.unique_pageviews_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold"><%= t ".download.download_data" %></span><br>
    <a href="" class="govuk-link"><%= t ".download.csv_link", metric_name: t("metrics.unique_pageviews.title") %></a>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="metric_summary pageviews">
      <%= render 'metric_header', title: t("metrics.pageviews.title"), value: @performance_data.pageviews %>
    </div>
    <%= render 'chart', series: @performance_data.pageviews_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold"><%= t ".download.download_data" %></span><br>
    <a href="" class="govuk-link"><%= t ".download.csv_link", metric_name: t("metrics.pageviews.title") %></a>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="metric_summary number_of_internal_searches">
      <%= render 'metric_header', title: t("metrics.internal_searches.title"), value: @performance_data.number_of_internal_searches %>
    </div>
    <%= render 'chart', series: @performance_data.number_of_internal_searches_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold"><%= t ".download.download_data" %></span><br>
    <a href="" class="govuk-link"><%= t ".download.csv_link", metric_name: t("metrics.internal_searches.title") %></a>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l"><%= t ".section_headings.feedback" %></h2>
    <div class="metric_summary satisfaction_score">
      <%= render 'metric_header', title: 'User satisfaction score', value: @performance_data.satisfaction_score %>
    </div>
    <%= render 'chart', series: @performance_data.satisfaction_score_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold">Download the data</span><br>
    <a href="" class="govuk-link">Satisfaction score CSV</a>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="metric_summary number_of_feedback_comments">
    <%= render 'metric_header', title: 'Number of feedback comments', value: @performance_data.number_of_feedback_comments %>
    </div>
    <%= render 'chart', series: @performance_data.number_of_feedback_comments_series %>
    <span class="govuk-body govuk-body-s govuk-!-font-weight-bold">Download the data</span><br>
    <a href="" class="govuk-link">Feedback CSV</a>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Page Content</h2>
    <div class="govuk-grid-column-one-half">
      <div class="metric_summary word_count">
      <%= render 'metric_header', title: 'Word Count', value: @performance_data.word_count %>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="metric_summary number_of_pdfs">
      <%= render 'metric_header', title: 'Number of PDFs', value: @performance_data.number_of_pdfs %>
      </div>
    </div>


  </div>
</div>
