<% content_for :title, "Page Data: #{@summary.title}" %>
<h2>Page Data</h2>
<h1 class="content-title"><%= @summary.title %></h1>
<div class="page-metadata">
  <%= render "components/metadata", @summary.metadata %>
</div>

<% current_selection = @summary.date_range.time_period || 'last-30-days' %>
<%= render "components/time-select", {
  base_path: "/metrics#{@summary.metadata[:base_path]}",
  current_selection: current_selection,
  dates: [
    {
      value: "last-30-days",
      text: "Past 30 Days",
      hint_text:  "#{30.days.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-month",
      text: "Last month",
      hint_text: "#{Date.today.last_month.beginning_of_month.strftime("%-d %B %Y")} to #{Date.today.last_month.end_of_month.strftime("%-d %B %Y")}"
    },
    {
      value: "last-3-months",
      text: "Past 3 months",
      hint_text: "#{3.months.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-6-months",
      text: "Past 6 months",
      hint_text: "#{6.months.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-1-year",
      text: "Past year",
      hint_text: "#{1.year.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    },
    {
      value: "last-2-years",
      text: "Past 2 years",
      hint_text: "#{2.years.ago.strftime("%-d %B %Y")} to #{Date.today.strftime("%-d %B %Y")}"
    }
  ]
} %>


<h2>Performance</h2>
<div class="metric_summary unique_pageviews">
  <%= render 'metric_header', title: 'Unique Pageviews', value: @summary.unique_pageviews %>
</div>
<%= render 'chart', series: @summary.unique_pageviews_series %>
<div class="metric_summary pageviews">
  <%= render 'metric_header', title: 'Pageviews', value: @summary.pageviews %>
</div>
<%= render 'chart', series: @summary.pageviews_series %>
<div class="metric_summary number_of_internal_searches">
  <%= render 'metric_header', title: 'Searches from the page', value: @summary.number_of_internal_searches %>
</div>
<%= render 'chart', series: @summary.number_of_internal_searches_series %>

<h2>Feedback</h2>
<div class="metric_summary satisfaction_score">
  <%= render 'metric_header', title: 'User satisfaction score', value: @summary.satisfaction_score %>
</div>
<%= render 'chart', series: @summary.satisfaction_score_series %>
<%= form_for('date', :url => "/metrics#{@summary.metadata[:base_path]}", :method => :get) do |f| %>

<% end %>
