<% content_for :title, "Page Data: #{@summary.title}" %>
<h2>Page Data</h2>
<h1><%= @summary.title %></h1>
<div class="page-metadata">
  <%= render partial: 'metadata_row', locals: { label: 'Published', value: @summary.published_at } %>
  <%= render partial: 'metadata_row', locals: { label: 'Last updated', value: @summary.last_updated } %>
  <%= render partial: 'metadata_row', locals: { label: 'From', value: @summary.publishing_organisation } %>
  <%= render partial: 'metadata_row', locals: { label: 'Type', value: @summary.document_type } %>
  <%= render partial: 'metadata_row', locals: { label: 'URL', value: @summary.base_path } %>
</div>

<h2>Performance</h2>
<%= render partial: 'metric_header', locals: {title: 'Unique Pageviews', value: @summary.unique_pageviews } %>
<%= render_chart @summary.unique_pageviews_series %>
<%= render partial: 'metric_header', locals: { title: 'Pageviews', value: @summary.pageviews } %>
<%= render_chart @summary.pageviews_series %>
<%= render partial: 'metric_header', locals: { title: 'Searches from the page', value: @summary.number_of_internal_searches } %>
<%= render_chart @summary.number_of_internal_searches_series %>

<h2>Feedback</h2>
<%= render partial: 'metric_header', locals: { title: 'User satisfaction score', value: @summary.satisfaction_score } %>
<%= render_chart @summary.satisfaction_score_series %>
