<table class="table govuk-table" data-gtm-total-results="440627" data-gtm-page="1">
    <caption class="govuk-table__caption">
      <p class="table-caption"><span class="table-caption__param">6</span> pages</p>
    </caption>
    <thead class="govuk-table__head" data-gtm-id="table-header">
      <tr class="govuk-table__row">
      <% TableHeaderHelper::COMPARISON_HEADER_NAMES.each do |header| %>
        <% if (header == @sort_key) %>
          <% sort_direction = @sort.direction %>
        <% end %>
        <th class="govuk-table__header<% if sort_direction.present? %> govuk-table__header--sorted<% end %>"
          scope="col"
          role="columnheader"
          aria-sort="<%= aria_sort(sort_direction) %>"
          data-gtm-id="<%= header %>-column">

          <% if header.in? TableHeaderHelper::COMPARISON_HEADERS_WITH_SORT_ENABLED %>
            <a href="<%= url_for(request.params.merge(sort: sort_param(header, sort_direction))) %>"
              data-gtm-id="sort-link"
              class="table__sort-link <% if sort_direction.present? %> table__sort-link--<%= sort_direction %> <% end %>">
              <%= t("documents.children.table.headers.#{header}", default: :"metrics.#{header}.title") %>
            </a>
          <% else %>
            <%= t("documents.children.table.headers.#{header}", default: :"metrics.#{header}.title") %>
          <% end %>
          <br>
          <% if include_help_icon?(header) %>
            <a href="/help/?hkey=<%= header %>" data-toggle="modal" data-target="modal-<%= header %>" data-gtm-id="help-icon" class="table__header-help">
            <%= image_tag(
              (sort_direction.present? ? 'question_mark_inverse.svg' : 'question_mark_default.svg'),
              alt: 'Help')
            %>
            </a>
          <% end %>
        </th>
      <% end %>
    </tr>

    </thead>
    <tbody class="govuk-table__body">
      <% @presenter.content_items.each do |item| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-table__cell--shaded" data-gtm-id="document_type-column"><%= item.sibling_order %></td>
          <td class="govuk-table__cell" data-gtm-id="title-column">
            <%=
              render(
                partial: 'components/table_column_page_title',
                locals: {
                  item: item,
                  date_range: @date_range.time_period
                }
            ) %>
          </td>
          <td class="govuk-table__cell govuk-table__cell--shaded" data-gtm-id="document_type-column"><%= item.document_type %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-gtm-id="upviews-column"><%= item.upviews %></td>
          <td class="govuk-table__cell govuk-table__cell--shaded" data-gtm-id="satisfaction-column">
            <% if item.satisfaction_percentage %>
                <%= item.satisfaction_percentage %>
                <span class="satisfaction-column__responses"> (<%= item.satisfaction_responses %>) </span>
            <% else %>
               <%= item.satisfaction_responses %>
            <% end %>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-gtm-id="searches-column"><%= item.searches %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
