<% content_for :title, @presenter.title %>

<% content_for :page_class, "content-data__compare" %>
<% content_for :local_nav do %>
  <div class="local-nav govuk-grid-column-one-quarter">
    <a href="/content" class="local-nav__search-link govuk-link govuk-link--no-visited-state" data-gtm-id="back-link">Search</a>
  </div>
<% end %>

<div class="content-wrapper">
  <%= render(partial: 'components/ga_data_notice') %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds headings">
      <span class="govuk-caption-xl" data-gtm-id="page-kicker"><%= @presenter.kicker %></span>
      <h1 class="govuk-heading-l">
        <%= @presenter.header %>
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds date-select">
      <%= form_for "date",
      url: "/documents/#{@document_id}/children",
      method: :get,
      html: { id: 'filter-form' },
      data: { 'gtm-id': 'time-period-form' } do %>
      <%= render "components/time_select", {
        compact: true,
        render_button: true,
        current_selection: @time_period,
        custom_month_selected: custom_month_selected(@time_period),
        dates: time_select_options(TimeSelectHelper::CONTENT_PAGE_TIME_PERIODS)
      } %>
      <% end %>
    </div>
  </div>

  <div class="table-wrapper sortable-table">
    <%= render 'table' %>
  </div>

</div>

<% content_for :modals do %>
  <% TableHeaderHelper::COMPARISON_HEADER_NAMES.each do |header| %>
    <% if include_help_icon?(header) %>
      <%= render "govuk_publishing_components/components/modal_dialogue", {
        id: "modal-#{header}",
        wide: false
      } do %>
        <h1 class="govuk-heading-l"><%= t(".table.headers.#{header}", default: :"metrics.#{header}.title") %></h1>
        <p class="govuk-body"><%= t(".table.headers.#{header}", default: :"metrics.#{header}.about") %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>

