<%# see the controller for the settings to implement full-width mode %>
<%= content_for :title, "Dev page" %>


<%= render "govuk_publishing_components/components/accessible_autocomplete", {
  label: {
    text: "Countries"
  },
  options: [
    [
      "",
      ""
    ],
    [
      "France",
      "fr"
    ],
    [
      "Germany",
      "de"
    ],
    [
      "Sweden",
      "se"
    ],
    [
      "Switzerland",
      "ch"
    ],
    [
      "United Kingdom",
      "gb"
    ],
    [
      "United States",
      "us"
    ],
    [
      "The Separate Customs Territory of Taiwan, Penghu, Kinmen, and Matsu (Chinese Taipei)",
      "tw"
    ]
  ],
  selected_option: ""
} %>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <div class="filters-control__wrapper govuk-visually-hidden" data-module="filter-toggle">
        <span class="filters-control filters-control--hide govuk-visually-hidden">
          <a href="" class="govuk-link filters-control__link filters-control__link--hide">Hide filters</a>&nbsp;&#x25B2;
        </span>
        <span class="filters-control filters-control--show govuk-visually-hidden">
          <a href="" class="govuk-link filters-control__link filters-control__link--show">Show filters</a>&nbsp;&#x25BC;</span>
      </div>
        <div class="filter-form">
          <%= render "components/time-select", {
            current_selection: "past-6-months",
            compact: true,
            base_path: "/",
            dates: [
              {
                value: "past-30-days",
                text: "Past 30 Days",
                hint_text: "21 July 2018 to 19 August 2018"
              },
              {
                value: "last-month",
                text: "Last month",
                hint_text: "1 July 2018 - 31 July 2018"
              },
              {
                value: "past-3-months",
                text: "Past 3 months",
                hint_text: "20 May 2018 - 19 August 2018"
              },
              {
                value: "past-6-months",
                text: "Past 6 months",
                hint_text: "20 February 2018 - 31 July 2018"
              },
              {
                value: "past-year",
                text: "Past year",
                hint_text: "20 August 2017 - 19 August 2018"
              },
              {
                value: "past-2-years",
                text: "Past 2 years",
                hint_text: "20 August 2016 - 19 August 2018"
              }
            ]
          } %>
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

          <%# selects will be switched out for the accessible autocomplete component eventually, but use this in the meantime %>
          <div class="filter-form__filters">
            <%= render "govuk_publishing_components/components/select", {
              id: "org",
              label: "Organisation",
              options: [
                {
                  text: "Organisation one",
                  value: "o1"
                },
                {
                  text: "Organisation two",
                  value: "o2"
                },
                {
                  text: "Organisation three has a really long name",
                  value: "o3"
                }
              ]
            } %>
            <%= render "govuk_publishing_components/components/input", {
                label: {
                  text: "Title or URL"
                },
                name: "search_term",
                autofocus: true,
                tabindex: 0
              } %>
              <%= render "govuk_publishing_components/components/select", {
              id: "doctype",
              label: "Document type",
              options: [
                {
                  text: "Guidance",
                  value: "g"
                },
                {
                  text: "News",
                  value: "n"
                },
                {
                  text: "Publication",
                  value: "p"
                }
              ]
            } %>

              <%= render "govuk_publishing_components/components/button", {text: "Filter"} %>
            </div>

            <p><a href="/dev" class="govuk-link govuk-body-s">Clear filters</a></p>

            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

            <p><a href="/dev" class="govuk-link govuk-body-s">Download all data in CSV format</a></p>

        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h1 class="table-header">Showing <span class="table-header__param">21</span> to <span class="table-header__param">40</span> of <span class="table-header__param">587</span> results from <span class="table-header__param">UK Visas and Immigration</span> in <span class="table-header__param">guidance</span>.</h2>
      <div style="width:1000px; height: 500px; border:1px solid red;">Table placeholder: table will be built using a helper.</div>
        <%# documented at /component-guide/previous_and_next_navigation within this app - on first/last page we would need to only render the single relevant link %>
        <%= render "govuk_publishing_components/components/previous_and_next_navigation", {
          previous_page: {
            url: "previous-page",
            title: "Previous",
            label: "1 of 30"
          },
          next_page: {
            url: "next-page",
            title: "Next",
            label: "3 of 30"
          }
        } %>
    </div>
</div>
