<%= content_for :title, "Dev page" %>

<span class="govuk-caption-xl">Data analytics for</span>
<h1 class="govuk-heading-xl">The page being analysed</h1>

<%= render "govuk_publishing_components/components/govspeak" do %>
  <p>
    Metrics were last updated yesterday at 00:00.
  </p>
<% end %>

<%
  # This data will come from models/controllers/the api eventually, hard coded for now to produce working views.
  data1 = {
    caption: "Unique page views in January",
    h_axis_title: "Day",
    v_axis_title: "Views",
    chart_label: "January chart",
    table_label: "January table",
    chart_id: 'pageviews_jan_chart',
    table_id: 'pageviews_jan_table',
    keys: [*1..31],
    rows: [
      {
        label: "January 2015",
        values: [5, 119, 74, 117, 50, 119,61, 110, 12, 21, 121, 37, 35, 197, 82, 56, 23, 7, 5, 19, 112, 25, 19, 8, 37, 135, 197, 235, 178, 4, 9]
      }
    ]
  }

  data2 = {
  h_axis_title: "Day",
  v_axis_title: "Views",
  chart_id: 'pageviews_feb_chart',
  table_id: 'pageviews_feb_table',
  table_direction: 'horizontal',
  keys: [*1..31],
  rows: [
    {
      label: "February 2015",
      values: [5, 119, 74, 55, 50, 119,61, 820, 12, 21, 121, 37, 35, 197, 82, 56, 23, 7, 50, 19, 212, 25, 19, 8, 37, 135, 197, 235, 178, 14, 99]
    },
    {
      label: "February 2016",
      values: [3, 8, 37, 435, 78, 4, 9, 61, 110, 12, 21, 221, 37, 35, 197, 82, 56, 23,61, 110, 12, 21, 121, 137, 35, 197, 182, 56, 23]
    }
  ]
  }
  data3 = {}
%>

<h2>Glance metric examples</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: "Unique pageviews",
      figure: "167",
      measurement_display_label: "m",
      measurement_explicit_label: "million",
      context: "This is in your top 10 content items",
      trend_percentage: +0.5,
      period: "Apr 2018 to Mar 2018"
    } %>
  </div>
    <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: "User satisfaction score",
      figure: "83",
      measurement_display_label: "%",
      context: "Positive feedback, out of 498 user responses",
      trend_percentage: 3.2,
      period: "Apr 2018 to Mar 2018"
    } %>
  </div>
    <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: "On page searches",
      figure: "392",
      context: "0.18% of users searched from this page",
      trend_percentage: -5,
      period: "Apr 2018 to Mar 2018",
      link_text: "See in Google Analytics",
      link_url: "http://www.google.com/analytics"
    } %>
  </div>
    <div class="govuk-grid-column-one-quarter">
    <%= render "components/glance-metric", {
      name: "Feedback comments",
      figure: "2",
      trend_percentage: 0,
      period: "Apr 2018 to Mar 2018"
    } %>
  </div>
</div>


<h2>Info metric examples</h2>

<% about_text = capture do %>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum quam vitae felis venenatis, at hendrerit ante accumsan. Cras commodo, leo ac auctor vehicula, elit dolor pulvinar sapien, ut congue arcu sapien sit amet nibh. Donec eu est nec nisi gravida gravida ut eget libero. In hac habitasse platea dictumst.</p>
  <p>Aliquam sed arcu et purus porttitor consequat sed malesuada arcu. Phasellus tellus justo, finibus ac porttitor sed, pulvinar et sapiensi.</p>
  <p>Data source: Google Analytics</p>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/info-metric", {
      name: "Unique pageviews",
      figure: number_with_delimiter(4354343, :delimiter => ','),
      context: "Number of sessions during which the page was viewed at least once",
      trend_percentage: 0,
      period: "From previous 30 days",
      about: about_text
    } %>
  </div>
</div>

<% words_about = capture do %>
  <p>Content may be hard to read if it has a lot of words, consider whether it should be broken down or simplified.</p>
<% end %>
<% pdf_about = capture do %>
  <p>Many PDF files are not accessible. Could the content be presented on a web page instead of in a downloadable format?</p>

<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= render "components/info-metric", {
      name: "Number of PDFs",
      figure: "2",
      context: "How many PDFs are attached to the page",
      about: pdf_about
    } %>
  </div>
  <div class="govuk-grid-column-one-half">
    <%= render "components/info-metric", {
      name: "Word count",
      figure: "2,214",
      context: "Number of words on the page",
      about: words_about
    } %>
  </div>
</div>

<h2>Chart examples</h2>


<%= render "components/chart", data1 %>
<%= render "components/chart", data2 %>
<%= render "components/chart", data3 %>




