<tr>
  <td><%= item.title %>
    <span class="base-path"><%= item.base_path %></span>
  </td>
  <td><%= item.document_type %></td>
  <td><%= number_with_delimiter(item.unique_pageviews, delimiter: ',') %></td>
  <td><%= item.user_satisfaction_score %></td>
  <td><%= item.number_of_internal_searches %></td>
</tr>
