<h1 class="table-header">Showing
    <span class="table-header__param"><%= pagination.first_record %></span> to
    <span class="table-header__param"><%= pagination.last_record %></span> of
    <span class="table-header__param"><%= pagination.formatted_total_results %></span> results
    <% if filter.document_type? %>
        for <span class="table-header__param"><%= filter.document_type %></span>
    <% end %>
    from <span class="table-header__param"><%= filter.organisation_name %></span>
</h1>
