<h1 class="table-header">Showing
    <span class="table-header__param"><%= pagination.first_record %></span> to
    <span class="table-header__param"><%= pagination.last_record %></span> of
    <span class="table-header__param"><%= pagination.total_results %></span> results
    from <span class="table-header__param"><%= filter.organisation_name %></span>
    <% if filter.document_type? %>
        in <span class="table-header__param"><%= filter.document_type %></span>.
    <% end %>
</h1>
