<h1 class="table-header">Showing
    <% if pagination.total_results > 0 %>
        Showing
        <span class="table-header__param"><%= pagination.first_record %></span> to
        <span class="table-header__param"><%= pagination.last_record %></span> of
        <span class="table-header__param"><%= pagination.total_results %></span> results
    <% else %>
        <span class="table-header__param">no matching results</span>
    <% end %>
    <% if filter.search_terms? %>
        for "<span class="table-header__param"><%= filter.search_terms %></span>"
    <% end %>
    <% if filter.document_type? %>
        in <span class="table-header__param"><%= filter.document_type %></span>
    <% end %>
    from <span class="table-header__param"><%= filter.organisation_name %></span>
</h1>
