<h1 class="table-caption">
    <% if pagination.total_results > 0 %>
        Showing
        <% if pagination.total_pages > 1 %>
            <span class="table-caption__param"><%= pagination.formatted_first_record %></span> to
            <span class="table-caption__param"><%= pagination.formatted_last_record %></span> of
        <% end %>
        <span class="table-caption__param"><%= pagination.formatted_total_results %></span> <%= 'result'.pluralize(pagination.total_results) %>
    <% else %>
        <span class="table-caption__param"><%= I18n.t('no_matching_results') %></span>
    <% end %>
    <% if filter.search_terms? %>
        for "<span class="table-caption__param"><%= filter.search_terms %></span>"
    <% end %>
    <% if filter.document_type? && filter.document_type_id != "all" %>
        in <span class="table-caption__param"><%= filter.document_type_name %></span>
    <% end %>
    from <span class="table-caption__param"><%= filter.organisation_name %></span>
</h1>
