<%= form_tag content_path, method: 'get', name: 'organisation-picker' do %>
  <%= select_tag 'organisation_id', options_for_select(@organisations.map{ |org| [org[:title], org[:organisation_id]] },
                                                       selected: @organisation_id),
                                                       class: 'org-picker' %>
    <%= select_tag 'document_type', options_for_select(@document_types.map{ |dt| [dt.try(:tr, '_', ' ').try(:capitalize), dt] },
                                                       selected: @document_type || '',
                                                      ),
                                                      include_blank: 'All document types',
                                                      class: 'doc-type-picker' %>
  <%= hidden_field_tag 'date_range', @content.date_range.time_period %>
  <%= submit_tag "Filter" %>
<% end %>

<% content_for :title, @content.title %>
<h3>Content data</h3>
<div class="content-table">
  <table>
    <tr>
      <th>Page title</th>
      <th>Content type</th>
      <th>Unique pageviews</th>
      <th>User satisfaction score</th>
      <th>Searches from page</th>
    </tr>
    <%= render partial: 'content_row', collection: @content.items, as: :item, locals: { date_range: @content.date_range.time_period } %>
  </table>
</div>
