<% content_for :title, @presenter.title %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <div class="filters-control__wrapper govuk-visually-hidden" data-module="filter-toggle">
        <span class="filters-control filters-control--hide govuk-visually-hidden">
          <a href="" class="govuk-link filters-control__link filters-control__link--hide">Hide filters</a>&nbsp;&#x25B2;
        </span>
        <span class="filters-control filters-control--show govuk-visually-hidden">
          <a href="" class="govuk-link filters-control__link filters-control__link--show">Show filters</a>&nbsp;&#x25BC;</span>
      </div>


      <div class="filter-form">
        <%= form_tag content_path, method: 'get', name: 'organisation-picker' do %>
          <%= render "components/time-select", {
            current_selection: @presenter.time_period,
            compact: true,
            base_path: "/",
            dates: [
              {
                value: "last-30-days",
                text: t("metrics.show.time_periods.last-30-days.leading"),
                hint_text:  "#{31.days.ago.strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
              },
              {
                value: "last-month",
                text: t("metrics.show.time_periods.last-month.leading"),
                hint_text: "#{Date.today.last_month.beginning_of_month.strftime("%-d %B %Y")} to #{Date.today.last_month.end_of_month.strftime("%-d %B %Y")}"
              },
              {
                value: "last-3-months",
                text: t("metrics.show.time_periods.last-3-months.leading"),
                hint_text: "#{(3.months.ago - 1.day).strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
              },
              {
                value: "last-6-months",
                text: t("metrics.show.time_periods.last-6-months.leading"),
                hint_text: "#{(6.months.ago - 1.day).strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
              },
              {
                value: "last-year",
                text: t("metrics.show.time_periods.last-year.leading"),
                hint_text: "#{(1.year.ago - 1.day).strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
              },
              {
                value: "last-2-years",
                text: t("metrics.show.time_periods.last-2-years.leading"),
                hint_text: "#{(2.years.ago - 1.day).strftime("%-d %B %Y")} to #{Date.yesterday.strftime("%-d %B %Y")}"
              }
            ]
          } %>
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

          <div class="filter-form__filters">
            <%= render "govuk_publishing_components/components/input", {
                label: {
                  text: "Search for a title or URL"
                },
                name: "search_term",
                autofocus: true,
                tabindex: 0,
                value: params[:search_term],
              } %>
              <%= render "govuk_publishing_components/components/select", {
              id: "document_type",
              label: "Document type",
              options: @presenter.document_type_options
            } %>
            <%= render "govuk_publishing_components/components/select", {
              id: "organisation_id",
              label: "Organisation",
              options: @presenter.organisation_options
            } %>

            <%= render "govuk_publishing_components/components/button", {text: "Filter"} %>
          <% end %>
        </div>

            <p><a href="/content" class="govuk-link govuk-body-s">Clear all filters</a></p>

            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            <p>
              <a href="<%= content_path(@presenter.search_parameters.merge(format: :csv)) %>"
                 class="govuk-link govuk-body-s"
              >
                Download all data in CSV format
              </a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <div class="table-wrapper">
        <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(
            self,
            render('table_data_description', pagination: @presenter.pagination),
            sortable: false
          ) do |t| %>
            <%= t.head do %>
              <!-- TODO: Once sorting is supported, fill in the href and sort_direction header arguments with proper values -->
              <%# t.header("Page title", href: '#', sort_direction: nil) %>
              <%= t.header("Page title") %>
              <%= t.header("Content type") %>
              <%= t.header("Unique pageviews<br> #{image_tag('question_mark_default.svg', alt: 'Help', title: "#{t "metrics.upviews.summary"}")}".html_safe) %>
              <%= t.header("User satisfaction score<br> #{image_tag('question_mark_default.svg', alt: 'Help', title: "#{t "metrics.satisfaction.summary"}")}".html_safe) %>
              <%= t.header("Searches from page<br> #{image_tag('question_mark_default.svg', alt: 'Help', title: "#{t "metrics.searches.summary"}")}".html_safe) %>
            <% end %>

            <%= t.body do %>
              <% @presenter.content_items.each do |item| %>
                <%= t.row do %>
                  <%= t.cell(
                    render(
                      partial: 'page_title',
                      locals: {
                        item: item,
                        date_range: @presenter.time_period
                      }
                    )
                  ) %>
                  <%= t.cell item.document_type %>
                  <%= t.cell item.upviews, format: 'numeric' %>
                  <%= t.cell item.user_satisfaction %>
                  <%= t.cell item.searches, format: 'numeric' %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= render "govuk_publishing_components/components/previous_and_next_navigation", navigation_links %>
    </div>
</div>
