<% content_for :title, @presenter.title %>
<% content_for :page_class, "content-data__index" %>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <div class="filters-control__wrapper filter--hidden" data-module="filter-toggle">
        <span class="filters-control filters-control--hide filter--hidden">
          <a href="" class="govuk-link filters-control__link filters-control__link--hide">Hide filters</a>&nbsp;&#x25B2;
        </span>
        <span class="filters-control filters-control--show filter--hidden">
          <a href="" class="govuk-link filters-control__link filters-control__link--show">Show filters</a>&nbsp;&#x25BC;</span>
      </div>
      <div class="filter-form">
        <%= form_tag content_path,
          method: 'get',
          name: 'organisation-picker',
          id: 'filter-form',
          data: { 'gtm-id': 'filters-form' } do %>
          <input type="hidden" name="submitted" value="true" >
          <%= render "components/time-select", {
            current_selection: @presenter.time_period,
            compact: true,
            base_path: "/",
            dates: time_select_options(TimeSelectHelper::CONTENT_PAGE_TIME_PERIODS)
          } %>

          <div class="filter-form__filters">
            <%= render "govuk_publishing_components/components/input", {
                label: {
                  text: "Search for a title or URL"
                },
                name: "search_term",
                tabindex: 0,
                value: params[:search_term],
              } %>

          <%= render "govuk_publishing_components/components/accessible_autocomplete",
              {
                id: 'document_type',
                label: {
                  text: "Document type"
                },
                options: @filter.document_type_options,
                selected_option: @filter.selected_document_type(params)
              }
          %>

          <%= render "govuk_publishing_components/components/accessible_autocomplete",
              {
                id: 'organisation_id',
                label: {
                  text: "Organisation"
                },
                options: @filter.organisation_options.unshift(['','all']),
                selected_option: @filter.selected_organisation(params)
              }
          %>

            <%= render "govuk_publishing_components/components/button", {text: "Filter"} %>

            <a href="/content" class="govuk-link govuk-body-s filter-form__clear-link" data-gtm-id="clear-filters">Clear all filters</a>
          <% end %>
        </div>

            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            <p>
              <a href="<%= content_export_csv_path(@presenter.search_parameters) %>"
                 class="govuk-link govuk-body-s download-link" data-gtm-id="csv-download-link">
                Download all data in CSV format
              </a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <div class="table-wrapper">
        <table class="table govuk-table"
          data-gtm-total-results="<%= @presenter.pagination.total_results %>"
          data-gtm-pagination-total-results="<%= @presenter.pagination.total_results %>"
          data-gtm-page="<%= @presenter.pagination.page %>">
          <caption class="govuk-table__caption">
            <%= render('table_data_description', pagination: @presenter.pagination, filter: @filter) %>
          </caption>
          <thead class="govuk-table__head" data-gtm-id="table-header">
            <tr class="govuk-table__row">
            <% TableHeaderHelper::HEADER_NAMES.each do |header| %>
              <% sort_direction = @presenter.sort.direction if (header == @presenter.sort.key) %>
              <th class="govuk-table__header <% if sort_direction.present? %>govuk-table__header--sorted<% end %>"
                scope="col"
                role="columnheader"
                aria-sort="<%= aria_sort(sort_direction) %>"
                data-gtm-id="<%= header %>-column">
                <% if header.in? TableHeaderHelper::HEADERS_WITH_SORT_ENABLED %>
                  <a href="<%= url_for(request.params.merge(sort: sort_param(header, sort_direction))) %>"
                    data-gtm-id="sort-link"
                    class="table__sort-link <% if sort_direction.present? %> table__sort-link--<%= sort_direction %> <% end %>">
                    <%= t(".table.headers.#{header}", default: :"metrics.#{header}.title") %>
                  </a>
                <% else %>
                  <%= t(".table.headers.#{header}", default: :"metrics.#{header}.title") %>
                <% end %>
                <br>
                <% if include_help_icon?(header) %>
                  <a href="/help/?hkey=<%= header %>" data-toggle="modal" data-target="modal-<%= header %>" data-gtm-id="help-icon" class="table__header-help">
                      <%= image_tag(
                        (sort_direction.present? ? 'question_mark_inverse.svg' : 'question_mark_default.svg'),
                        alt: 'Help')
                      %>
                  </a>
                <% end %>
              </th>
            <% end %>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          <% @presenter.content_items.each do |item| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-gtm-id="title-column">
                <%=
                  render(
                    partial: 'page_title',
                    locals: {
                      item: item,
                      date_range: @presenter.time_period
                    }
                ) %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--shaded" data-gtm-id="document_type-column"><%= item.document_type %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-gtm-id="upviews-column"><%= item.upviews %></td>
              <td class="govuk-table__cell govuk-table__cell--shaded" data-gtm-id="satisfaction-column">
                <% if item.satisfaction_percentage %>
                    <%= item.satisfaction_percentage %>
                    <span class="satisfaction-column__responses"> (<%= item.satisfaction_responses %>) </span>
                <% else %>
                   <%= item.satisfaction_responses %>
                <% end %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-gtm-id="searches-column"><%= item.searches %></td>
            </tr>
          <% end %>
          </tbody>
   </table>

        </div>
        <div data-gtm-id="pagination-links">
          <%= render "govuk_publishing_components/components/previous_and_next_navigation", navigation_links %>
        </div>
    </div>
</div>

<% content_for :modals do %>
  <% TableHeaderHelper::HEADER_NAMES.each do |header| %>
    <% if include_help_icon?(header) %>
      <%= render "govuk_publishing_components/components/modal_dialogue", {
        id: "modal-#{header}",
        wide: false
      } do %>
        <h1 class="govuk-heading-l"><%= t(".table.headers.#{header}", default: :"metrics.#{header}.title") %></h1>
        <p class="govuk-body"><%= t(".table.headers.#{header}", default: :"metrics.#{header}.about") %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
