<% content_for :head do %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag "application" %>

  <% if ENV["GOOGLE_TAG_MANAGER_ID"] %>
    <script>
      dataLayer = [
        { 'gtm.blacklist' : ['customPixels', 'customScripts', 'html', 'nonGoogleScripts'] },
        { 'user-organisation': '<%= current_user.organisation_slug %>' },
        { 'cd-uid': '<%= current_user.uid %>' }
      ];
    </script>
    <%= render "govuk_publishing_components/components/google_tag_manager_script", {
      gtm_id: ENV["GOOGLE_TAG_MANAGER_ID"],
      gtm_auth: ENV["GOOGLE_TAG_MANAGER_AUTH"],
      gtm_preview: ENV["GOOGLE_TAG_MANAGER_PREVIEW"]
    } %>
    <% end %>
  <% end %>

<%= render 'govuk_publishing_components/components/layout_for_admin',
  environment: Rails.application.config.govuk_environment,
  browser_title: yield(:title) do %>
  <%= render "govuk_publishing_components/components/skip_link" %>
  <%= render "govuk_publishing_components/components/layout_header", {
    environment: Rails.application.config.govuk_environment,
    product_name: "Publishing",
    full_width: @fullwidth,
    navigation_items: [
      { text: current_user.name, href: Plek.new.external_url_for('signon') },
      { text: "Log out", href: gds_sign_out_path }
    ]
  }
%>
<%
  css_classes = yield(:page_class)
  css_classes << " govuk-width-container" unless @fullwidth
%>

<div class="<%= css_classes %>">
  <% banner_message = capture do %>
    <a href="<%= Plek.new.external_url_for('support') + '/content_data_feedback/new' %>">
      Send us feedback
    </a>
  <% end %>

  <div class="banner govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= render "govuk_publishing_components/components/phase_banner", {phase: "beta", message: banner_message, app_name: "Content data"} %>
    </div>
    <%= content_for :local_nav %>
  </div>

  <% if flash[:notice] %>
    <p>
      <%= flash[:notice] %>
    </p>
  <% end %>

  <% if flash[:alert] %>
    <p>
      <%= flash[:alert] %>
    </p>
  <% end %>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <%= yield %>
  </main>
</div>

  <%= render "govuk_publishing_components/components/layout_footer" %>
<% end %>
